.main {
    background: #f2f2f2;
    padding: 1rem;
    color: #4c4c4c;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 40%;
}

.button {
    margin-top: .8rem;
    width: 40%;
}